/* 
layout colors 
Orange layout shades:
#fd7e14
#190d02
#fed8b9

Teal shades:
#12b886 
#d0f1e7
#04251b

Footer : 
#190d02
#04251b

TYPE SCALE EXAMPLES


3.052rem/36.62px	A Visual Type Scale
2.441rem/29.30px	A Visual Type Scale
1.953rem/23.44px	A Visual Type Scale
1.563rem/18.75px	A Visual Type Scale
1.25rem/15.00px	A Visual Type Scale
1rem/12.00px	A Visual Type Scale
*/
html {
  font-size: 12px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.logo {
  width: 100px;
  height: 100px;
}
.login {
  width: 100px;
  height: 100px;
}

/*LOGO box*/
.link-box {
  display: inline-block;
  background-color: #fd7e14;
  padding: 5px;
  border: 2px solid black;
}

.link-box a {
  text-decoration: none; /* Remove underline from the link */
}

.data,
.dine {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid black; /* 1px wide border around the words */
}

.data {
  color: white;
  background-color: black;
}

.dine {
  color: black;
  background-color: #fd7e14; /* Orange color */
}
/*/////////// MEAL-IMAGES */

.meal-img {
  width: 60px;
}
