/* 
layout colors 
Orange layout shades:
#ffa31a;!
#fd7e14
#190d02
#fed8b9

Buttons' color:
#36c8ad;

Logo's green color:
#29B298

Labels' color:
#646464;

Teal shades:
#12b886 
#d0f1e7
#04251b

Footer : 
#190d02
#04251b

TYPE SCALE EXAMPLES


3.052rem/36.62px	A Visual Type Scale
2.441rem/29.30px	A Visual Type Scale
1.953rem/23.44px	A Visual Type Scale
1.563rem/18.75px	A Visual Type Scale
1.25rem/15.00px	A Visual Type Scale
1rem/12.00px	A Visual Type Scale
*/

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype"),
    url("/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype"),
    url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  padding: 50px;
  font: 14px "Ubuntu", sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin-left: 110px;
}

h1,
h2 {
  color: #646464;
  text-align: center;
}

h1 {
  color: 15px;
}

.logo {
  width: 100px;
  height: 100px;
}

.login {
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
}

/*LOGO box*/

.logo img {
  width: 24em;
  height: 7em;
}

/*.link-box {
  display: inline-block;
  background-color: #ffa31a;
  padding: 5px;
  border: 1px solid #29B298;
}

.link-box a {
  text-decoration: none; 
  

}
*/

.data,
.dine {
  display: inline-block;
  /*padding: 2px 5px;*/

  /*border: 1px solid black;*/
  /* 1px wide border around the words */
  padding: 10px 25px;
  border: 1px solid #29b298;
}

.dine {
  border: none;
}

.data {
  color: white;
  background-color: #29b298;
}

.dine {
  color: black;
  background-color: #fd7e14;
  /* Orange color */
}

/*/////////// MEAL-IMAGES */

#add-meals-form {
  margin-top: 15%;
}
#add-meals-form form {
  width: 100%;
}
#data-display {
  display: flex;
  flex-direction: column;
}

.meal-img {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 140px;
  border-radius: 10px;
}

.list-created-meal {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  border-bottom: solid 2px black;
}

.description {
  width: 45%;
}

/*
background-color: #ffa31a;
}

*/
/* Nav bar */

header {
  background-color: #ffa31a;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  width: 35px;
  height: 35px;
  padding: 5px 5px;
  border-radius: 20px;
}

.icons a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  align-items: center;
  background-color: #29b298;
  padding: 10px 15px;
  border-radius: 2.8rem;
  margin-right: 20px;
}

/* LOGIN FORM */
#login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

#login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #484848;
}

#login-form input {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  outline: none;
}

#login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #36c8ad;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login-form label {
  color: #646464;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #36c8ad;
  text-decoration: none;
}

/* Sign Up FORM */
#sign-up-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

#sign-up-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #484848;
}

#sign-up-form input {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  outline: none;
}

#sign-up-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #36c8ad;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sign-up-formlabel {
  color: #646464;
}

.account-exists {
  text-align: center;
  font-size: 13px;
}

.login-link {
  text-decoration: none;
  color: #36c8ad;
}

.account-exists p {
  color: #646464;
}

/*Section 1*/

#banner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#banner h1 {
  color: #484848;
  font-size: 4rem;
  text-align: center;
}

.get-started-btn {
  margin: auto;
  background-color: #29b298;
  display: inline-block;
  align-items: center;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  margin: auto;
}

.get-started {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

#category-menu {
  position: fixed;
  top: 128px;
  bottom: 100px;
  left: 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
}

#category-menu ul {
  align-items: center;
  padding: 15px;
}

#category-menu li {
  align-items: center;
}

.food-icons img {
  width: 50px;
  height: 50px;
  padding: 5px 5px;
}

#top-choice {
  text-align: center;
}

.carousel-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 90%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 25%;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 3px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.add-to-cart-button {
  background-color: #29b298;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px;
}

.arrow-btn img {
  width: 40px;
  height: 40px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

svg {
  margin-top: 14rem;
  width: 100%;
}

#pizza {
  margin-top: 0;
  background-color: #e9f7f5;
  text-align: center;
  border-image-slice: 80 0 0;
}

.menu-title {
  margin-top: 0;
  font-size: 4rem;
}

footer {
  background-color: #1d1d1d;
  padding: 20px;
}

footer h3 {
  color: #ffffff;
}

footer li {
  color: #ffffff;
  font-size: 1rem;
}

.footer-icons img {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
}
