<div id="login-form">
  <h2>AUTHORIZATION</h2>
  <form action="/auth/login" method="POST">

  <a class="popup-close">&times;</a>

    <label> USERNAME
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> E-MAIL
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> PASSWORD
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>