<div id="login-form">
  <h2>LOG IN</h2>
  <form action="/auth/login" method="POST">

  <a class="popup-close" href="/">&times;</a>

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> E-mail
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>