<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">

          <div class="logo">
            <a href="/" class="data"><img src="/images/LOGO.png" alt="logo"></a>
          </div>

       <div class="icons">
          <div class ='icon'><a  href="/cart"><img  src="/images/icons/cart.png" alt="cartimage"></a></div>
          <div class ='icon'><a  href="/auth/signup"><img  src="/images/icons/add-friend.png" alt="signupicon"></a></div>
        </div>
        
        </div>
      </nav>

    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>