<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">

          <div class="link-box">
            <a href="/" class="data">DATA</a>
            <a href="/" class="dine">DINE</a>
          </div>

       <div class="icons">
          <a class ='icon' href="/cart"><img  src="/images/icons/shopping-cart.png" alt="cartimage"></a>
          <a class ='icon' href="/auth/signup"><img  src="/images/icons/user.png" alt="signupicon"></a>
        </div>
        
        </div>
      </nav>

    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>