<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div>
        <a href="/"><img src="" alt="LOGO"></a>
        <a href="/info">Info</a>
        <a href="/contact">Contact</a>
        </div>
        <div>
          <a href="/cart"><img src="" alt="cartimage"></a>
        </div>
        <div>
          <a href="/signin"><img src="" alt="signinimage"></a>
          <a href="/signup"><img src="" alt="signupimage"></a>
        </div>
        

      </nav>





    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>