<div id="add-meals-form">
  <h2>Add Meal</h2>
  <form action="/admin/add-meals-form" method="POST">

    <label>
      Meal
      <input type="text" name="itemName" placeholder="Enter the meal" />
    </label>

    <label>
      Description
      <input
        type="text"
        name="itemDescription"
        placeholder="Enter the description"
      />
    </label>

    <label>
      Category
      <input
        type="text"
        name="itemCategory"
        placeholder="choose your catagory"
      />
    </label>
    <label>
      Price
      <input type="number" name="itemPrice" placeholder="Price" />
    </label>
    <label>
      ImageURL:
      <input type="url" name="itemImageURL" />
    </label>

    <button type="submit">add</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

</div>
<div id="data-display">
  should be here
  {{#each dataFood}}
    <p>{{this.itemName}}</p>
  {{/each}}
</div>