<div id="add-meals-form">
  <h2>Log In</h2>
  <form action="/add-meals-form" method="POST">

    <label> Meal
      <input type="text" name="itemName" placeholder="Enter the meal" />
    </label>

    <label> Description
      <input type="text" name="itemDescription" placeholder="Enter the description" />
    </label>

    <label> Category
      <input type="text" name="itemCategory" placeholder="choose your catagory" />
    </label>
     <label> Price
      <input type="number" name="itemPrice" placeholder="Price" />
    </label>
    <img class="product-img" src="{{this.itemImageURL}}" />

    

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>